<body>
    <br>
<div>
    <div id="mark-position">
        <img [src]="successMark" alt="success-mark" />
    </div>
    <h2 mat-dialog-title id="header-position">Password Created successfully</h2>
<mat-dialog-content>
    <div id="first-content-position">You have successfully created a new password</div>
    <div id="second-content-position">kindly proceed to login.</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="submit()" mat-dialog-close id="submit-btn" class="bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    Login
</button>
</mat-dialog-actions>
</div>

</body>