<body class=" p-4">
    <div class="grid grid-rows-11 gap-4 max-w-md mx-auto">
        <div class="row-span-1">
            <p class="text-xl font-bold">Financial Information</p>
            <p>Kindly Input your financial details below.</p>
        </div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>

    </div>
</body>
