<body class="p-4">
    <div class="grid grid-rows-11 gap-4 max-w-md mx-auto">
        <div class="row-span-1">
            <p class="text-xl font-bold">Education Information</p>
            <p>Enter beneficiary resident details below</p>
        </div>
        <div class="row-span-1 p-4">
            <form class="max-w-sm" >
                <select id="countries"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of options; let id=index" >
                    <span> {{ option }}</span>
                </option>
                </select>
            </form>
        </div>
        <div class="row-span-1 p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Other Certifications">
        </div>
        <div class="row-span-1 p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name of Primary school attended">
        </div>
        <div class="row-span-1 p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Location of Primary school attended">
        </div>
        <div class="row-span-1 p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name of secondary school attended">
        </div>
        <div class="row-span-1 p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Location of Secondary school attended">
        </div>
        <div class="row-span-1 p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name of Tertiary institution attended">
        </div>
        <div class="row-span-1p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Location of Tertiary institution attended">
        </div>
        <div class="row-span-1  p-4">
            <div class="flex items-center">
                <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I am currently in school</label>
            </div>
        </div>
        <div class="row-span-1 p-4">
            <input type="text" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your current Level">
        </div>
        <div class="row-span-1 p-4">
            <form class="max-w-sm">
                <select  id="select"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of fundingOptions; let id=index" >
                    <span> {{ option }}</span>
                </option>
                </select>
            </form>
        </div>
        <!-- <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div> -->
        <div class="row-span-1 p-4 flex">
            <div class="w-3/4 p-4">
                <button  type="submit" [disabled]="null"
                [ngStyle]="{ 'background-color': null ? '#B8B7C8' : '#109856' }"
                class="w-full h-12 px-4 py-2 bg-green-500 text-white font-semibold rounded-md hover:bg-green-500 focus:outline-none focus:bg-green-600">
                Proceed
            </button>
            </div>
            <div class="w-1/4 p-4">
                <button  type="submit" [disabled]="!null"
                [ngStyle]="{ 'background-color': !null ? '#B8B7C8' : '#109856' }"
                class="w-full h-12 px-4 py-2 bg-green-500 text-white font-semibold rounded-md hover:bg-green-500 focus:outline-none focus:bg-green-600">
                Skip
            </button>
            </div>
        </div>
    </div>
</body>
