@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
body {
    font-family: 'Euclid Circular A';
}

#first-row-content{
    margin-top: 170px;
    font-weight: 600;
    color: #363757;
}

#retake-caption{
    color: black;
}

#btn{
    background-color: #109856;
    border-color: white;
    width: 300px;
}
