<header  class="flex items-center justify-between  mt-8 mb-8 text-white font-sora">

  <!-- Profile Page Header -->
  <ng-container *ngIf="isProfilePage(); else nonProfileHeader">
    <div class="flex items-center w-full relative">
      <!-- Back Button -->
      <button (click)="goBack()" matTooltip="Go Back" class="absolute left-0">
        <img [src]="backIcon" alt="Back Icon" class="w-6 h-6" />
      </button>

      <!-- Centered Title -->
      <div class="flex-grow flex justify-center">
        <p class="text-[#1D1B20] text-xl font-euclid">Your Profile</p>
      </div>
    </div>
  </ng-container>

  <!-- Non-Profile Page Header -->
  <ng-template #nonProfileHeader>
    <div class="flex items-center gap-3">

      <ng-container *ngIf="!isDashboardPage(); else showClipIcon">
        <button (click)="goBack()" matTooltip="Go Back">
          <img [src]="backIcon" alt="Back Icon" class="w-6 h-6" />
        </button>
          <span class="text-optimaBlack text-2xl font-bold">{{ title }}</span>
         
      </ng-container>
      <ng-template #showClipIcon>
        <img [src]="clipIcon" alt="" />
          <span class="text-optimaBlack text-2xl font-bold">{{ title }}</span>
           <span class="text-optimaGray text-xl">{{ userName }}</span>
      </ng-template>
    
    
    </div>

    <div
      [routerLink]="['./profile']"
      class="cursor-pointer w-fit h-fit flex items-center justify-between p-2 rounded-[40px] border border-[#D0D5DD]"
      matTooltip="Agent's Profile"
    >
      <img
        src="assets/images/avatar.png"
        alt="Your Image"
        class="h-12 w-12 rounded-full"
      />
      <img
        src="assets/icons/forward.svg"
        alt="Forward Icon"
      />
    </div>
  </ng-template>
</header>
