<body class="bg-cover h-screen flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg  max-w-md">
        <h2 class="text-2xl font-semibold mb-4">
            Forgot Password
        </h2>
        <div>
            <p>Select either of the options below to receive</p>
            <p class="mt-[-12]">A 4-digit OTP pin</p>
            <br>
            <form>
                <div class="mb-4">
                    <mat-card id="mat-card" class="cursor-pointer" (click)="mapOtpInterface('phone', '**** *** ***89')">
                        <mat-card-content>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center">
                                    <img [src]="phone" alt="phone" class="w-6 h-6 mr-2">
                                    <div class="flex flex-col">
                                        <span class="m-0 text-green-500 text-xs">Phone Number</span>
                                        <span class="m-0 text-xs">**** *** ***89</span>
                                    </div>
                                </div>
                                <span>
                                    <mat-icon class="text-green-500">keyboard_arrow_right</mat-icon>
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="mb-4">
                    <mat-card id="second-mat-card" class="cursor-pointer" (click)="mapOtpInterface('email', 'oi*********89@gmail.com')">
                        <mat-card-content>
                            <div class="flex justify-between items-center">
                                <div class="flex items-center">
                                    <img [src]="email" alt="phone" class="w-6 h-6 mr-2">
                                    <div class="flex flex-col">
                                        <span class="m-0 text-xs">Email Address</span>
                                        <span class="m-0 text-xs">oi*********89@gmail.com</span>
                                    </div>
                                </div>
                                <span>
                                    <mat-icon class="text-green-500">keyboard_arrow_right</mat-icon>
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
<!-- 
                <button type="submit" [disabled]="disabledBtn"
                    [ngStyle]="{ 'background-color': disabledBtn ? '#B8B7C8' : '#109856' }"
                    class="w-full bg-blue-500 text-white rounded-md py-2 hover:bg-blue-600">
                    Proceed
                </button> -->
            </form>
        </div>

    </div>
    <div class="icon">
        <img [src]="poweredByOptima" alt="powered-by-optima" width="150" height="240" class="ml-3">
    </div>
</body>