<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1 h-full hidden sm:block w-[300px]">
          <mat-stepper orientation="vertical" [linear]="isLinear" #stepper >
            <mat-step *ngFor="let item of beneficiaryItems; let i = index" >
                <ng-template matStepperIcon="edit">
                    <mat-icon>done</mat-icon>
                </ng-template>
                <ng-template matStepLabel>
                    <span id="step-label" class="text-xs text-black"  (click)="itemClicked(i, item)" [ngClass]="{'lemonish-text': selectedItemIndex === i, 'step-label': selectedItemIndex !== i}">{{item | uppercase }}</span>
                </ng-template>
            </mat-step>
          </mat-stepper>
          <!-- <button (click)="goToStep(2)">hjhjh</button>  'verification procedure' -->
    </div>
    
    
    <div class="col-span-4  h-full">
        <div *ngIf="selectedItemName">
            <div id="first-column-items" *ngIf=" selectedItemName === 'verify beneficiary nin'">
                <app-verify-nin></app-verify-nin>
            </div>
            <div *ngIf="selectedItemName === 'personal details'" id="personal-details">
                <app-personal-details></app-personal-details>
            </div>
            <div *ngIf="selectedItemName === 'verification procedure'">
                <app-verification-code></app-verification-code>
            </div>
            <div *ngIf="selectedItemName === 'residential details'">
                <app-residential-details></app-residential-details>
            </div>
            <div *ngIf="selectedItemName === 'marital info'">
                <app-marital-info></app-marital-info>
            </div>
            <div *ngIf="selectedItemName === 'education'">
                <app-education></app-education>
            </div>
            <div *ngIf="selectedItemName === 'health'">
                <app-health></app-health>
            </div>
            <div *ngIf="selectedItemName === 'financial'">
                <app-financial></app-financial>
            </div>
            <div *ngIf="selectedItemName === 'next of kin'">
                <app-next-of-kin></app-next-of-kin>
            </div>
            <div *ngIf="selectedItemName === 'employment'">
                <app-employment></app-employment>
            </div>
            <div *ngIf="selectedItemName === 'occupation'">
                <app-occupation></app-occupation>
            </div>
            <div *ngIf="selectedItemName === 'other details'">
                <app-other-details></app-other-details>
            </div>
            <div *ngIf="selectedItemName === 'biometrics'">
                <app-setup-biometrics></app-setup-biometrics>
            </div>
        </div>
    </div>
</div>
