@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
body {
    font-family: 'Euclid Circular A';
}

// #first-column-items {
//     margin-top: 150px;
//     margin-left: 180px;
// }

// #personal-details #verification-procedure {
//     margin-top: 150px;
//     margin-left: 180px;
// }

.lemonish-text {
    color: #109856;
    /* You can adjust the color as per your preference */
}

.step-label{
    color: black;
 }

.ring-lemonish {
    border-color: lemonchiffon;
    color: #109856;
    /* You can adjust the color as per your preference */
}


//sidebar

.mat-stepper-vertical {
    margin-top: 8px;
  }
  

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #109856; 
 }


 mat-stepper{
 background-color: #F9FAFB;
 }

 ::ng-deep .mat-stepper-vertical-line::before {
    border-style: dotted;
    // border-width: 1px;
  }


  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-span-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  