.lemonish-text {
    color: #109856;
    font-weight: bold;
    /* You can adjust the color as per your preference */
}

.ring-lemonish {
    border-color: lemonchiffon;
    color: #109856;
    /* You can adjust the color as per your preference */
}

#second-column-items {
    margin-top: 200px;
    margin-left: 400px;
}
