<body class=" p-4">
    <div class="grid grid-rows-11 gap-2 max-w-md mx-auto">
        <div class="row-span-1">
            <p class="text-xl font-bold">Personal Data</p>
            <!-- <p>Enter beneficiary resident details below</p> -->
        </div>
        <div class="row-span-1">
          <div class="relative">
            <form [formGroup]="personalDetailsForm">
                <label class="block text-xs font-light text-gray-700 mt-[-10px]">
                    First Name
                </label>
                <input formControlName="firstName" id="readonly-input" type="text"  class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Placeholder" readonly>
            </form>
            </div>              
              
        </div>

        <div class="row-span-1 grid grid-cols-2 mt-[-10px]" style="margin-left: -18px;">
            <div class="p-4">
                <div class="relative">
                    <form [formGroup]="personalDetailsForm">
                        <label class="block text-xs font-light text-gray-700 mt-[-10px]">
                            Last Name
                        </label>
                        <input formControlName="lastName" id="readonly-input" type="text"  class="focus:ring-indigo-500 focus:border-indigo-500 block w-[219px] shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Placeholder" readonly>
                      
                    </form>
              
                </div>  
            </div>
            <div class="p-4">
                <div class="relative">
                    <form [formGroup]="personalDetailsForm">
                        <label class="block text-sm font-light text-gray-700 mt-[-15px]">
                            Middle Name
                        </label>
                        <input formControlName="middleName" id="readonly-input" type="text"  class="focus:ring-indigo-500 focus:border-indigo-500 block w-full w-[219px] shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Placeholder" readonly>
                    
                    </form>
               
                </div>  
            </div>
          </div>
          
        <div class="row-span-1">
            <div class="relative">
                <form [formGroup]="personalDetailsForm">
                    <label class="block text-xs font-light text-gray-700 mt-[-10px]">
                        Phone Number
                    </label>
                    <input formControlName="phoneNumber" id="readonly-input" type="text"  class="focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Placeholder" readonly>
                 
                </form>
          
            </div> 
        </div>
        <div class="row-span-1">
            <div class="relative" >
                <form [formGroup]="personalDetailsForm">
                    <input formControlName="bvn" type="text" aria-describedby="helper-text-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter BVN*">
                </form>
        
           
                </div>
        </div>
        <div class="row-span-1">
            <div class="relative" >
                <form [formGroup]="personalDetailsForm">
                    <input formControlName="email" type="text" aria-describedby="helper-text-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Address*">
                </form>
            
          
                </div>
        </div>
        <div class="row-span-1 grid grid-cols-2 mt-[-20px]" style="margin-left: -18px;">
            <div class="p-4">
                <div class="relative">
                    <form [formGroup]="personalDetailsForm">
                        <label class="block text-xs font-light text-gray-700 mt-[-10px]">
                            Gender
                        </label>
                        <input formControlName="gender" id="readonly-input" type="text"  class="focus:ring-indigo-500 focus:border-indigo-500 block w-[219px] shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Placeholder" readonly>
                    
                    </form>
                
                </div>  
            </div>
            <div class="p-4">
                <div class="relative">
                    <form [formGroup]="personalDetailsForm">
                        <label class="block text-xs font-light text-gray-700 mt-[-10px]">
                            Date of Birth
                           </label>
                           <input formControlName="dateOfBirth" id="readonly-input" type="text"  class="focus:ring-indigo-500 focus:border-indigo-500 block w-full w-[219px] shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Placeholder" readonly>
                        
                    </form>
                 
                </div>  
            </div>
          </div>
          <div class="row-span-1">
            <div class="relative" >
                <form [formGroup]="personalDetailsForm">
                    <input formControlName="placeOfBirth" type="text" aria-describedby="helper-text-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Place of Birth**">
          
                </form>
           
                </div>
        </div>
        <div class="row-span-1">
            <form class="max-w-sm" [formGroup]="personalDetailsForm">
                <select  formControlName="religion"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer" style="width: 450px;">
                    <option *ngFor="let item of options; let id=index" >
                        {{ item }}
                    </option>
                </select>
            </form>
        </div>
        <div class="row-span-1" *ngIf="showOthers === true">
            <div class="relative" >
                <form [formGroup]="personalDetailsForm">
                    <input type="text" aria-describedby="helper-text-explanation" formControlName="others"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="If others, kindly input religion*">
            
                </form>
        
                </div>
        </div>
        <div class="row-span-1 w-full mt-2">
            <button (click)="submitForm()" type="submit" [disabled]="!personalDetailsForm.valid" [ngStyle]="{ 'background-color': !personalDetailsForm.valid ? '#B8B7C8' : '#109856' }"
                class="w-full h-12 px-4 py-2 bg-green-500 text-white font-semibold rounded-md hover:bg-green-500 focus:outline-none focus:bg-green-600">
                Proceed
            </button>
        </div>
        
    </div>
</body>