<body class="bg-gray-100">
    <div class="p-6">
        <div class="text-center">
            <img [src]="successMark" alt="success-mark" class="mx-auto mb-2" />
            <h2 class="text-md font-bold mb-2">Biometrics Submitted successfully</h2>
        </div>
        <div class="text-center mb-2">
            <div class="mb-2">Your face and finger has been captured <br>Successfully.</div>
        </div>
        <br>
        <div class="text-center">
            <button style="background-color: #109856;" (click)="submit()" mat-dialog-close class="w-full bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Done
            </button>
        </div>
    </div>
</body>
