@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
body {
    font-family: 'Euclid Circular A';
}

#parent-div{
    margin-top: 50px;
}

#funding_options{
    width: 365px;
}

#text-input{
    width: 365px;
}