<body>
  <!-- Agents Data Display -->
  <div *ngIf="agents?.length > 0" class="rounded-xl border border-tableGray mt-10 py-4">
    <div class="flex justify-between items-center px-4">
      <mat-card class="text-sm relative rounded-xl px-6 py-3 shadow-lg text-gray-700 font-bold text-3xl">
        Recent Onboarding
      </mat-card>

      <button
        class="flex bg-optimaGreen hover:bg-optimaGreen text-white font-bold py-2 px-4 rounded-md w-max-content"
        (click)="addBeneficiary()"
      >
        <img src="assets/images/add.svg" height="20" width="20" alt="" class="mr-2" />
        Add New Beneficiary
      </button>
    </div>
    <br>
    <div>
      <table class="w-full">
        <thead class="bg-grey">
          <tr>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
            >
              Name
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
            >
              Date of Birth
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
            >
              Email
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
            >
              NIN
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
            >
              Phone Number
            </th>
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
            >
              Gender
            </th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <tr class="text-left" *ngFor="let beneficiary of beneficiary; let i = index">
            <td class="py-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 flex items-center">
              {{ beneficiary.firstname }} {{ beneficiary.lastname }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ beneficiary.dateOfBirth }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ beneficiary.email }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ beneficiary.nin }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ beneficiary.phoneNumber }}
            </td>
            <td class="relative flex justify-between whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 overflow-visible">
              {{ beneficiary.gender }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Empty Data onboarded -->
  <div *ngIf="agents?.length === 0" class="flex flex-col items-center mt-24">
    <div><img [src]="noData" alt="" /></div>
    <div class="flex flex-col items-center mt-8">
      <p class="text-xl font-bold">Oops, No Beneficiary Yet</p>
      <small class="text-optimaGray text-sm">Your onboarded Beneficiaries would</small>
      <small class="text-optimaGray text-sm">appear here once done</small>
    </div>
    <div class="flex items-center h-20">
      <button
        (click)="addBeneficiary()"
        type="submit"
        class="text-white bg-optimaGreen font-bold py-2 px-4 h-10 rounded-md focus:outline-none focus:shadow-outline w-full w-max-content"
      >
        Onboard New Beneficiary
      </button>
    </div>
  </div>

<!-- Modal for consent and privacy policy -->
<ng-template #consentModal>
  <mat-card id="consent-card">
    <mat-card-content class="mat-card-content">
      <div class="flex flex-col items-start p-4">
        <div *ngIf="showConsent; else privacyPolicyTemplate" class="text-start">
          <div class="consent-icon mb-4">
            <img [src]="check" alt="check">
          </div>
          <h2 class="text-[32px] font-semibold">We need your consent!</h2>
          <p class="text-gray-700 text-sm mt-2 leading-6">
            To add you as a beneficiary, we require some personal information. Rest assured, your data privacy is our top priority. All data will be handled in accordance with our strict 
            <a  class="text-[#4caf50] underline" (click)="toggleModalContent()">privacy policies</a>
            and applicable regulations to protect your information from unauthorized access and ensure it remains confidential.
          </p>
          <p class="text-gray-700 text-sm pt-5">
            Please accept this permission to continue.
          </p>

          <p  class="text-[#4caf50]  py-6 leading-[20px]" (click)="toggleModalContent()">privacy policies</p>

          <div class="flex justify-between w-full mt-4">
            <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
            <button mat-button class="accept-button" (click)="onAccept()">Accept</button>
          </div>
        </div>
        <ng-template #privacyPolicyTemplate>
          <div class="text-start">
            <div class=" flex privacy-icon justify-start items-center mb-4 w-[191px] h-[36px] gap-[8]">
              <img [src]="back" alt="back" (click)="toggleModalContent()" class="w-[31px] h-[31px]">
              <div class=" small-div flex flex-row justify-start items-center ml-3 bg-[#e4f2da]">
                <img [src]="privacy" class="privacy-img" alt="privacy">
              <span class="privacy">Private Policy</span>
              </div>
            </div>
            <div class="scrollable-content">

              <h2 class="text-xl font-semibold">Privacy Policy</h2>
              <p class="text-gray-700 text-base mt-2 text-justify leading-7">
                At Proximaforte Limited (“Proximaforte”), a data processing firm duly incorporated under the Laws of the Federal Republic of Nigeria, we acknowledge that we process personal information for a variety of entities (Click here for a variety of entities we process data for), we understand the intricacies of personal information management and we are dedicated to safeguarding the privacy and security of personal information processed on behalf of these entities ("our Clients").  </p>
            <p class="text-gray-700 text-base pt-5 text-justify leading-7"> To ensure the privacy and security of Personal Data, we have established a privacy policy that outlines our practices concerning personal information entrusted to us by our clients through our website/portal/system or any of our other customised online platforms (“our Platforms”), how we protect that information, and articulating the rights of the owners of the personal information we collect (“the Data Subjects”), in accordance with applicable data protection laws and regulations (“the Privacy Policy”). This Privacy policy may be amended from time to time.  </p>
            </div>
           
          </div>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
</body>
