<body>
  <div class="grid grid-cols-5 gap-4">
    <!-- <div *ngIf="isDesktop" class="hidden sm:block">
      <app-sidebar-helper></app-sidebar-helper>
    </div> -->

    <div class="col-span-5 lg:col-span-4 h-full max-w-md mx-auto" id="first-column-items">
      <div class="bg-white p-8 rounded-lg max-w-md">
        <p class="text-2xl font-bold mb-4">Setup Biometrics</p>
        <div>
          <br />
          <form>
            <div class="mb-4">
              <mat-card
                id="mat-card"
                class="relative cursor-pointer"
                (click)="procedureInterface('face_capturing', '/home/face-capturing')"
              >
                <mat-card-content>
                  <div class="flex justify-between items-center">
                    <div class="flex items-center">
                      <img [src]="face" alt="phone" class="w-6 h-6 mr-2" />
                      <div class="flex flex-col">
                        <span class="m-0 text-xs" id="theme">Face Capture</span>
                        <span class="m-0 text-xs">Select to capture customer's face</span>
                      </div>
                    </div>
                    <span>
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </span>
                    <span
                      class="absolute top-0 right-0"
                      *ngIf="urlPath === 'face_capture_done' || urlPath === 'finger_capture_done' || urlPath === 'fingerprint_capturing' && faceCaptureExists"
                    >
                      <img [src]="marked" alt="checked" class="h-4 w-4" />
                    </span>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="mb-4">
              <mat-card
                id="second-mat-card"
                class="cursor-pointer"
                (click)="selectedReason !== 'SUCCESS' && openFingerPrintModal('fingerprint_capturing', '/home/setup-biometrics')"
              >
                <mat-card-content>
                  <div class="flex justify-between items-center">
                    <div class="flex items-center">
                      <img [src]="finger" alt="phone" class="w-6 h-6 mr-2" />
                      <div class="flex flex-col">
                        <span class="m-0 text-xs" id="theme">Fingerprints</span>
                        <span class="m-0 text-xs">Setup beneficiary fingerprints to</span>
                        <span class="m-0 text-xs">complete biometrics</span>
                      </div>
                    </div>
                    <span>
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </span>
                    <span
                      class="absolute top-0 right-0"
                      *ngIf="selectedReason && selectedReason !== 'PENDING' && selectedReason !== 'FAILED'"
                    >
                      <img [src]="marked" alt="checked" class="h-4 w-4" />
                    </span>
                  </div>
                  <div
                    [className]="
                      selectedReason === 'PENDING'
                        ? 'bg-[#FFFAF0] text-[#E59600] font-semibold text-[12px] rounded-3xl p-2 px-5 flex items-center gap-2 mt-3 w-fit ml-6'
                        : selectedReason === 'FAILED'
                          ? 'bg-[#FF82621A] text-[#ff0000] font-semibold text-[12px] rounded-3xl p-2 px-5 flex items-center gap-2 mt-3 w-fit ml-6'
                          : selectedReason === 'SUCCESS'
                          ? 'bg-[#ECFDF3] text-[#12B76A] font-semibold text-[12px] rounded-3xl p-2 px-5 flex items-center gap-2 mt-3 w-fit ml-6' : ''
                    "
                  >
                    <svg
                      *ngIf="selectedReason && selectedReason === 'PENDING'"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z"
                        stroke="#E69600"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M7.5 7.5H8V11H8.5"
                        stroke="#E69600"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M7.875 5.75C8.15114 5.75 8.375 5.52614 8.375 5.25C8.375 4.97386 8.15114 4.75 7.875 4.75C7.59886 4.75 7.375 4.97386 7.375 5.25C7.375 5.52614 7.59886 5.75 7.875 5.75Z"
                        fill="#E69600"
                      />
                    </svg>

                    {{
                      selectedReason === "PENDING"
                        ? "Waiting to authenticate capture"
                        : selectedReason === "FAILED"
                          ? "Biometric capturing failed, please retry."
                          : selectedReason === "SUCCESS"
                          ? "Captured from third-party" : null
                    }}
                    <svg
                      *ngIf="selectedReason && selectedReason === 'SUCCESS'"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.00065 8.50065L7.00065 10.5007L11.0007 6.50065M14.6673 8.50065C14.6673 12.1826 11.6826 15.1673 8.00065 15.1673C4.31875 15.1673 1.33398 12.1826 1.33398 8.50065C1.33398 4.81875 4.31875 1.83398 8.00065 1.83398C11.6826 1.83398 14.6673 4.81875 14.6673 8.50065Z"
                        stroke="#12B76A"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </mat-card-content>
              </mat-card>
              <div
                *ngIf="selectedReason && selectedReason !== 'PENDING' && selectedReason !== 'SUCCESS' && selectedReason !== 'FAILED'" 
                class="h-5 mt-5 text-[12px] italic w-[95%] font-bold text-[#ff0000] flex items-center gap-2 rounded-3xl p-2"
              >
                Note: Fingerprint has been skipped due to {{ selectedReason }}
              </div>
            </div>

            <button
              (click)="proceed()"
              id="submit-btn"
              type="submit"
              [disabled]="disabledBtn"
              [ngStyle]="{
                'background-color': disabledBtn ? '#B8B7C8' : '#109856'
              }"
              class="w-full bg-blue-500 text-white rounded-md py-2 hover:bg-blue-600"
            >
              <div class="flex items-center justify-center">
                <span class="mr-2">Proceed</span>
                <div role="status" class="ml-2" *ngIf="showSpinner === true">
                  <svg
                    aria-hidden="true"
                    class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-green-500"
                    viewBox="0 0 100 101"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"
                    />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"
                    />
                  </svg>
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
