<body class=" p-4">
    <div class="grid grid-rows-11 gap-4 max-w-md mx-auto">
        <div class="row-span-1">
            <p class="text-xl font-bold">Other Information</p>
            <!-- <p>Almost thereenter your next of kin information</p> -->
        </div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>

        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>

        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>

    </div>
</body>
