<body class="p-4">
    <div class="grid grid-rows-11 gap-4 max-w-md mx-auto">
        <div class="row-span-1">
            <p class="text-xl font-bold">Other Health Information</p>
            <!-- <p>Enter beneficiary resident details below</p> -->
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <select id="funding_options" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of options; let id=index">
                        <span>{{ option }}</span>
                    </option>
                </select>
            </form>
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <select id="funding_options" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of ailments; let id=index">
                        <span>{{ option }}</span>
                    </option>
                </select>
            </form>
        </div>
        <div class="row-span-1">
            <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Please specify ailment">
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <select id="funding_options" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of hmo; let id=index">
                        <span>{{ option }}</span>
                    </option>
                </select>
            </form>
        </div>
        <div class="row-span-1">
            <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="If you have, please specify which HMO?">
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <select id="funding_options" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of optionz; let id=index">
                        <span>{{ option }}</span>
                    </option>
                </select>
            </form>
        </div>
        <div class="row-span-1">
            <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Which state public hospital are you enrolled in, if any?">
        </div>
       
        <div class="row-span-1 w-full mt-2">
            <button (click)="routeToNext()" id="btn" type="submit" [disabled]="null" [ngStyle]="{ 'background-color': null ? '#B8B7C8' : '#109856' }"
                class="h-12 w-[400px] px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                Proceed
            </button>
        </div>
    </div>
</body>
