<section
  class="bg-optimaBlue w-16 ml-3 self-center rounded-full h-[96%] mt-3 flex flex-col items-center"
>
  <div class="mt-3">
    <img [src]="bankLogo" height="42" width="42" alt="Logo" />
  </div>

  <div class="mt-24">
    <mat-nav-list>
      <mat-list-item
        [routerLink]="['/' + item.route]"
        routerLinkActive="list-item-active"
        [routerLinkActiveOptions]="{ exact: false }"
        class="mb-16"
        *ngFor="let item of menuItems"
      >
        <a class="hover:stroke-optimaGreen">
          <mat-icon
            mat-list-icon
            [svgIcon]="item.name"
            [class.stroke-green-500]="isActive(item.route)"
          ></mat-icon>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</section>
