<section class="my-8 py-2 bg-[#1e1e2d] transform rounded-full flex items-center justify-around px-4 md:px-8 lg:px-16">
  <div class="flex justify-center items-center">
    <img [src]="bankLogo" class="" alt="Logo" />
  </div>
  <div class="w-full flex justify-around items-center">
    <div class="flex flex-row items-center justify-around w-full ">
      <div *ngFor="let item of menuItems" class="list-item items-center" [routerLinkActive]="['list-item-active']" [routerLinkActiveOptions]="{ exact: false }">
        <button mat-button (click)="onLogout(item)" [matTooltip]="item?.name === 'profile' ? 'select beneficiary to view profile' : item?.name">
          <mat-icon class="custom-icon " mat-list-icon [svgIcon]="item.name" [ngClass]="{ 'stroke-green-500': isActive(item.route) }"> </mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>





 <!-- <div class="w- flex justify-around items-center">
    <mat-nav-list class="flex flex-row items-center justify-around w-full">
      <mat-list-item *ngFor="let item of menuItems" routerLinkActive="list-item-active" [routerLinkActiveOptions]="{ exact: false }">
        <button mat-button (click)="onLogout(item)" [matTooltip]="item?.name === 'profile' ? 'select beneficiary to view profile' : item?.name">
          <mat-icon class="custom-icon " mat-list-icon [svgIcon]="item.name" [ngClass]="{ 'stroke-green-500': isActive(item.route) }">
          </mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div> -->