.bg-cover {
    background-image: url('/assets/images/bg-image.svg');
    background-size: cover;
}

.icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

#mat-card{
    background-color: rgb(243, 250, 243);
    border-width: 0;
    width: 240px;
}

#second-mat-card{
    background-color: #fff;
    border-width: 0;  
    width: 240px; 
}


#max-width-frame{
    width: 700px;
    height: 350px;
}


