@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
header {
    font-family: 'Euclid Circular A';
}

#cta-btns{
    width: 70%;
    height: 50px;
   // background-color: #E5E7EB;
}

#cta-btns:hover{
    color: white;
}

#mat-dialog{
    margin-top: 20px;
    margin-left: 70px;
}