<body>
  <div class="h-full py-4 flex flex-col">
    <div class="h-12 w-56 mb-2">
      <mat-form-field [formGroup]="dashBoardDropdown" class="w-full">
        <mat-label>
          <mat-icon>calendar_today</mat-icon>
          <span> Select Date range</span>
        </mat-label>
        <mat-select disableRipple formControlName="dateType" class="w-full">
          <mat-option
            [value]="option"
            *ngFor="let option of options"
            class="bg-white"
          >
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex justify-center md:justify-start mt-5">
      <div class="flex flex-col justify-center items-center">
        <div class="flex flex-row mb-8 items-center justify-center">
          <img src="assets/images/check.svg" alt="" height="24" width="24" />
          <small
            class="text-lg md:text-xl font-euclid font-normal ml-2 text-optimaGray"
            >Successfully Onboarded</small
          >
        </div>
        <p class="text-[20px] pt-2 md:text-[50px] text-[#344054]">
          {{
            totalOnboarding.completed === "0"
              ? "0"
              : totalOnboarding.completed?.length === 1
                ? "0" + "0" + totalOnboarding.completed
                : totalOnboarding.completed?.length === 2
                  ? "0" + totalOnboarding.completed
                  : totalOnboarding.completed?.length === 3
                    ? totalOnboarding.completed
                    : null
          }}
        </p>
      </div>
      <div class="border-r h-28 mx-5"></div>
      <div class="flex flex-col justify-center items-center max-w-full">
        <div class="flex flex-row mb-8 items-center justify-center">
          <img src="assets/images/Pause.svg" alt="" height="24" width="24" />
          <small
            class="text-lg md:text-xl font-euclid font-normal ml-2 text-optimaGray"
            >Incomplete Onboarding</small
          >
        </div>
       
        <p class="text-[20px] pt-2 md:text-[50px] text-[#344054] max-w-full">
          {{
            totalOnboarding.incompleted === "0"
              ? "0"
              : totalOnboarding.incompleted?.length === 1
                ? "0" + "0" + totalOnboarding.incompleted
                : totalOnboarding.incompleted?.length === 2
                  ? "0" + totalOnboarding.incompleted
                  : totalOnboarding.incompleted?.length === 3
                    ? totalOnboarding.incompleted
                    : null
          }}
        </p>
      </div>
    </div>



    <div class="flex justify-between items-center mx-auto min-h-[327px] w-full bg-white border border-[#EAECF0] py-[44px] px-[62px] rounded-[16px] shadow">



      <div class="text-center hover:cursor-pointer" (click)="openConsentModal()">
        <div class="w-[144px] h-[144px] flex items-center justify-center bg-[#EDFDF5] border-[4px] border-[#DAFBEB] rounded-[35px] padding-[28px]">
        <img [src]="plusIcon" class="w-16 h-16" alt="">
        
      </div>
      <p class="text-[18px] text-center text-[#344054] font-medium font-euclid py-4">New <br> Registration</p>
      </div>

      <div class="text-center hover:cursor-pointer">
         <div class="w-[144px] h-[144px] flex items-center justify-center bg-[#EDFDF5] border-[4px] border-[#DAFBEB] rounded-[35px] padding-[28px]">
          <img [src]="continueIcon" class="w-16 h-16" alt="">
      </div>
      <p class="text-[18px] text-center text-[#344054] font-medium font-euclid py-4">Continue <br> Registration</p>
      </div>
       
        <div class="text-center hover:cursor-pointer" [routerLink]="['/home/profile']">
          <div class="w-[144px] h-[144px] flex items-center justify-center bg-[#EDFDF5] border-[4px] border-[#DAFBEB] rounded-[35px] padding-[28px]">
          <img [src]="agentIcon" class="w-16 h-16" alt="">
      </div>
      <p class="text-[18px] text-center text-[#344054] font-medium font-euclid py-4">Agent <br> Profile</p>
        </div>



    </div>
   

    <!-- <div id="empty-data" class="container mx-auto">
      <app-beneficiary-table
        (emitTotals$)="acceptTableTotals($event)"
      ></app-beneficiary-table>
    </div> -->


  
  </div>
</body>
