<body>
  <div class="h-full py-4 flex flex-col">
    <div class="h-12 w-56 mb-2">
      <mat-form-field  appearance="outline" [formGroup]="dashBoardDropdown" class="w-full custom-select">
       

        
        <mat-select disableRipple formControlName="dateType" class="w-full">
          <mat-option
            [value]="option"
            *ngFor="let option of options"
            class="bg-white"
          >
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      
    </div>

    

    <div class="flex justify-between items-center mt-5 min-h-fit w-full py-[24px] px-[12px] bg-white border border-[#EAECF0] shadow rounded-2xl mb-8">
      <div class="flex flex-col justify-center items-start">
        <div class="flex flex-row mb-8 items-center justify-center">
          <img src="assets/images/check.svg" alt="" height="24" width="24" />
          <small
            class="text-lg md:text-lg font-euclid font-medium ml-2 text-[#667085]"
            >Successfully Onboarded</small
          >
        </div>
        <p class="text-[40px] pt-2 md:text-[60px] font-semibold font-euclid text-[#344054]">
          {{
            totalOnboarding.completed === "0"
              ? "0"
              : totalOnboarding.completed?.length === 1
                ? "0" + "0" + totalOnboarding.completed
                : totalOnboarding.completed?.length === 2
                  ? "0" + totalOnboarding.completed
                  : totalOnboarding.completed?.length === 3
                    ? totalOnboarding.completed
                    : null
          }}
        </p>
      </div>
     
      <div class="flex flex-col justify-center items-start max-w-full">
        <div class="flex flex-row mb-8 items-center justify-center">
          <img src="assets/images/Pause.svg" alt="" height="24" width="24" />
          <small
            class="text-lg md:text-lg font-euclid font-medium ml-2 text-[#667085]"
            >Incomplete Onboarding</small
          >
        </div>
       
        <p class="text-[40px] pt-2 md:text-[60px] text-[#344054] font-euclid font-semibold max-w-full">
          {{
            totalOnboarding.incompleted === "0"
              ? "0"
              : totalOnboarding.incompleted?.length === 1
                ? "0" + "0" + totalOnboarding.incompleted
                : totalOnboarding.incompleted?.length === 2
                  ? "0" + totalOnboarding.incompleted
                  : totalOnboarding.incompleted?.length === 3
                    ? totalOnboarding.incompleted
                    : null
          }}
        </p>
      </div>


      <div>
        <img
        src="assets/icons/logo.svg"
        alt="Your Image"
        class=""
      />
      </div>


    </div>



    <div class="flex justify-between items-center min-h-fit w-full bg-white border border-[#EAECF0] py-[30px] px-[62px] rounded-[16px] shadow">



      <div class="text-center hover:cursor-pointer" (click)="openConsentModal()">
        <div class="w-[100px] h-[100px] flex items-center justify-center bg-[#EDFDF5] border-[4px] border-[#DAFBEB] rounded-[35px] padding-[28px]">
        <img [src]="plusIcon" class="w-14 h-14" alt="">
        
      </div>
      <p class="text-[16px] text-center text-[#344054] font-medium font-euclid pt-4">New <br> Registration</p>
      </div>

      <div class="text-center hover:cursor-pointer" [routerLink]="['/home/all-beneficiary']">
         <div class="w-[100px] h-[100px] flex items-center justify-center bg-[#EDFDF5] border-[4px] border-[#DAFBEB] rounded-[35px] padding-[28px]">
          <img [src]="continueIcon" class="w-14 h-14" alt="">
      </div>
      <p class="text-[16px] text-center text-[#344054] font-medium font-euclid pt-4">Continue <br> Registration</p>
      </div>
       
        <a class="text-center hover:cursor-pointer" href="https://forms.clickup.com/9012898676/f/8ckbuvm-3052/R5NHKEBPCMIVOW0BFV" target="_blank">
          <div class="w-[100px] h-[100px] flex items-center justify-center bg-[#EDFDF5] border-[4px] border-[#DAFBEB] rounded-[35px] padding-[28px]">
          <img [src]="agentIcon" class="w-14 h-14" alt="">
      </div>
      <p class="text-[16px] text-center text-[#344054] font-medium font-euclid pt-4">Get <br> Support</p>
    </a>



    </div>
   

    <!-- <div id="empty-data" class="container mx-auto">
      <app-beneficiary-table
        (emitTotals$)="acceptTableTotals($event)"
      ></app-beneficiary-table>
    </div> -->


  
  </div>
</body>
