<body class="max-w-full">
  <!-- For Complete Beneficiaries -->
  <div *ngIf="showCompleteBeneficiaries === true">
    <div class="rounded-xl border border-tableGray py-4 overflow-x-auto">
      <!-- visible only on large screens -->
      <div class="flex items-center justify-between gap-5 p-4 w-full overflow-x-auto">
        <div class="col-span-2 flex justify-start items-center">
          <button
            (click)="showcompleteBeneficiaries()"
            class="bg-green-700 hover:bg-green-700 border-gray-700 text-white hover:text-white font-bold py-2 px-4 rounded"
          >
            Completed
          </button>
          <button
            (click)="showInCompleteBeneficiaries()"
            class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2"
          >
            Incomplete
          </button>
          <button
            (click)="refreshPage()"
            class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2"
          >
            Refresh
          </button>
        </div>

        <div class="flex gap-2 justify-end items-center">
          <div class="relative">
            <input
              type="text"
              [(ngModel)]="filterString"
              name="filterString"
              (ngModelChange)="listenToSearch($event)"
              class="border border-gray-300 rounded-md px-4 py-2 pl-10 w-36"
              placeholder="Search..."
            />
            <svg
              class="absolute left-3 top-3 h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a7 7 0 015.602 11.274l5.256 5.255-1.414 1.414-5.255-5.256A7 7 0 119 2zm0 2a5 5 0 100 10A5 5 0 009 4z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <button
            class="flex items-center w-fit bg-optimaGreen hover:bg-optimaGreen text-white font-bold py-2 px-4 rounded-md"
            (click)="openConsentModal()"
          >
            <img
              src="assets/images/add.svg"
              height="20"
              width="20"
              alt=""
              class="mr-2"
            />
            <span class="whitespace-nowrap ml-2 pr-5">Add New Beneficiary</span>
          </button>
          <button
            (click)="openModal()"
            class="flex items-center bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2"
          >
            <mat-icon class="mr-1">filter_list</mat-icon>
            Filter
          </button>
        </div>
      </div>

      <!-- visible only on small screens -->
      <!-- <div class="grid grid-rows-3 grid-cols-1 gap-4 md:hidden">
      <div class="flex justify-between">
        <button (click)="showcompleteBeneficiaries()" class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-4">Completed</button>
        <button (click)="showInCompleteBeneficiaries()" class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded mr-4">Incomplete</button>
        <button (click)="refreshPage()" class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2">Refresh</button>
      </div>
    
      <div class=" py-2 px-4 rounded">
        <div class="relative">
          <input type="text" [(ngModel)]="filterString" name="filterString" (ngModelChange)="listenToSearch($event)" class="border border-gray-300 rounded-md px-4 py-2 pl-10 w-full" placeholder="Search..." style="width: 290px;">
          <svg class="absolute left-3 top-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9 2a7 7 0 015.602 11.274l5.256 5.255-1.414 1.414-5.255-5.256A7 7 0 119 2zm0 2a5 5 0 100 10A5 5 0 009 4z" clip-rule="evenodd"/>
          </svg>
        </div>

        &nbsp;&nbsp;
        <button (click)="openModal()" class="flex items-center bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2">
          <mat-icon class="mr-1">filter_list</mat-icon>
          Filter
      </button> 
      </div>
    
        <button (click)="addBeneficiary()" class="bg-green-700 hover:bg-green-700 border-gray-700 text-white hover:text-white font-bold py-2 px-4 rounded w-full flex items-center gap-2">
            <mat-icon>person_add</mat-icon>
            <b class="-mb-5">Add New Beneficiary</b>
        </button>      
    </div> -->

      <div
        *ngIf="showSpinner === false && showNoData === false"
        class="overflow-auto"
      >
        <div>
          <table class="w-full">
            <thead class="bg-grey">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  Name
                </th>
                <th
                  scope="col"
                  class="px-1 py-3.5 text-left text-[0.8rem] font-semibold text-gray-900"
                >
                  Date of Birth
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Email
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  NIN
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Phone Number
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Gender
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-200 bg-white"
              role="button"
              [routerLink]="['../beneficiary-details']"
            >
              <!-- | beneficiaryFilter: filterString -->
              <tr
                class="text-left"
                *ngFor="let beneficiary of beneficiaries; let i = index"
              >
                <td
                  (click)="viewBeneficiaryProfile(beneficiary)"
                  class="py-4 pr-3 whitespace-nowrap text-sm font-medium text-gray-900 pl-6 flex items-center"
                >
                  {{ beneficiary?.firstname || "N/A" }}
                  {{ beneficiary?.lastname || "N/A" }}
                </td>
                <td
                  (click)="viewBeneficiaryProfile(beneficiary)"
                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                >
                  {{ beneficiary?.dateOfBirth || "N/A" }}
                </td>
                <td
                  (click)="viewBeneficiaryProfile(beneficiary)"
                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                >
                  {{ beneficiary?.email || "N/A" }}
                </td>
                <td
                  (click)="viewBeneficiaryProfile(beneficiary)"
                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                >
                  {{ beneficiary?.nin || "N/A" }}
                </td>
                <td
                  (click)="viewBeneficiaryProfile(beneficiary)"
                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                >
                  {{ beneficiary?.phoneNumber || "N/A" }}
                </td>
                <td
                  (click)="viewBeneficiaryProfile(beneficiary)"
                  class="relative flex justify-between whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 overflow-visible"
                >
                  {{ beneficiary?.gender || "N/A" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex justify-center"></div>
      </div>

      <div role="status" id="image" *ngIf="showNoData === true">
        <img [src]="emptyTable" alt="No data Found" class="mx-auto" height="500" width="500" />
      </div>

      <div role="status" id="spinner" class="mx-auto" *ngIf="showSpinner === true">
        <svg
          aria-hidden="true"
          class="w-8 h-8 hidden md:flex text-gray-200 animate-spin dark:text-gray-600 fill-green-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>

      <!-- pagination -->
    </div>

    <!-- For Complete Beneficiaries -->
    <div class="flex justify-between items-center mt-8">
      <button
        (click)="prevPage()"
        [disabled]="paginationParams.page === 1"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white focus:outline-none"
      >
        <svg
          class="w-3.5 h-3.5 me-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4"
          />
        </svg>
        Previous
      </button>

      <div class="flex mx-4">
        <div *ngFor="let item of paginationArrayToShow">
          <button
            (click)="getCurrentPage(item)"
            id="active-page"
            *ngIf="paginationParams.page === item"
            class="px-4 py-2 bg-gray-200 text-gray-600 focus:outline-none"
          >
            {{ item }}
          </button>
          <button
            (click)="getCurrentPage(item)"
            id="inactive-page"
            *ngIf="paginationParams.page !== item"
            class="px-4 py-2 bg-white text-gray-600 focus:outline-none"
          >
            {{ item }}
          </button>
        </div>
      </div>

      <button
        (click)="nextPage()"
        [disabled]="beneficiaries.length === 0"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white focus:outline-none"
      >
        Next
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- For Incomplete Beneficiaries -->

  <div *ngIf="showIncompleteBeneficiaries === true">
    <div class="rounded-xl border border-tableGray py-4">
      <!-- visible only on large screens -->
      <div class="flex items-center justify-between gap-5 p-4 overflow-auto">
        <div class="col-span-2 flex justify-start items-center">
          <button
            (click)="showcompleteBeneficiaries()"
            class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded"
          >
            Completed
          </button>
          <button
            (click)="showInCompleteBeneficiaries()"
            class="bg-green-700 hover:bg-green-700 border-gray-700 text-white hover:text-white font-bold py-2 px-4 rounded ml-2"
          >
            Incomplete
          </button>
          <button
            (click)="refreshPage()"
            class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2"
          >
            Refresh
          </button>
        </div>

        <div class="flex gap-2 justify-end items-center">
          <div class="relative">
            <input
              type="text"
              [(ngModel)]="filterIncomplete"
              name="filterIncomplete"
              (ngModelChange)="listenToSearch($event)"
              class="border border-gray-300 rounded-md px-4 py-2 pl-10 w-36"
              placeholder="Search..."
            />
            <svg
              class="absolute left-3 top-3 h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a7 7 0 015.602 11.274l5.256 5.255-1.414 1.414-5.255-5.256A7 7 0 119 2zm0 2a5 5 0 100 10A5 5 0 009 4z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <button
            (click)="routeToOnboarding()"
            class="flex items-center w-fit bg-optimaGreen hover:bg-optimaGreen text-white font-bold py-2 px-4 rounded-md"
          >
            <div class="flex items-center">
              <mat-icon>person_add</mat-icon>
              <span class="whitespace-nowrap ml-2 pr-5">Add New Beneficiary</span>
            </div>
          </button>
          <button
            (click)="openSecondModal()"
            class="flex items-center bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2"
          >
            <mat-icon class="mr-1">filter_list</mat-icon>
            Filter
          </button>
        </div>
      </div>

      <!-- visible only on small screens -->
      <!-- <div class="grid grid-rows-3 grid-cols-1 gap-4 md:hidden">
      <div class="flex justify-between">
        <button (click)="showcompleteBeneficiaries()" class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-4">Completed</button>
        <button (click)="showInCompleteBeneficiaries()" class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded mr-4">Incomplete</button>
        <button (click)="refreshPage()" class="bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2">Refresh</button>
      </div>
    
      <div class=" py-2 px-4 rounded">
        <div class="relative">
          <input type="text" [(ngModel)]="filterIncomplete" name="filterIncomplete" (ngModelChange)="listenToSearch($event)" class="border border-gray-300 rounded-md px-4 py-2 pl-10 w-full" placeholder="Search...">
          <svg class="absolute left-3 top-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9 2a7 7 0 015.602 11.274l5.256 5.255-1.414 1.414-5.255-5.256A7 7 0 119 2zm0 2a5 5 0 100 10A5 5 0 009 4z" clip-rule="evenodd"/>
          </svg>
        </div>
        &nbsp;&nbsp;
        <button (click)="openSecondModal()" class="flex items-center bg-gray-200 hover:bg-green-700 border-gray-700 text-gray-900 hover:text-white font-bold py-2 px-4 rounded ml-2">
          <mat-icon class="mr-1">filter_list</mat-icon>
          Filter
      </button> 
      </div>
    
      <div class="py-2 px-4 rounded">
        <button  (click)="addBeneficiary()" class="bg-green-700 hover:bg-green-700 border-gray-700 text-white hover:text-white font-bold py-2 px-4 rounded">
          <div class="flex items-center">
            <mat-icon>person_add</mat-icon> &nbsp;
            <b>Add New Beneficiary</b>
          </div>
        </button>
      </div>
    </div> -->

      <div *ngIf="showSpinner === false && showNoData === false" class="overflow-auto">
        <div>
          <table class="w-full overflow-auto">
            <thead class="bg-grey">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  Name
                </th>
                <th
                  scope="col"
                  class="px-1 py-3.5 text-left text-[0.8rem] font-semibold text-gray-900"
                >
                  Date of Birth
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Email
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  NIN
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Phone Number
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Gender
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white" role="button">
              <!-- | incomplete: filterIncomplete -->
              <tr
                class="text-left"
                *ngFor="
                  let beneficiary of inCompleteBeneficiaries;
                  let i = index
                "
              >
                <td
                  class="py-4 pr-3 whitespace-nowrap text-sm font-medium text-gray-900 pl-6 flex items-center"
                >
                  <span
                    >{{ beneficiary?.firstname || "N/A" }}
                    {{ beneficiary?.lastname || "N/A" }}</span
                  >
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span>{{ beneficiary?.dateOfBirth || "N/A" }}</span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span>{{ beneficiary?.email || "N/A" }}</span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span>{{ beneficiary?.nin || "N/A" }}</span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span>{{ beneficiary?.phoneNumber || "N/A" }}</span>
                </td>
                <td
                  class="relative flex justify-between whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 overflow-visible"
                >
                  <span>{{ beneficiary?.gender || "N/A" }}</span>
                </td>
                <td>
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="continueOnboarding(beneficiary)"
                    >
                      <mat-icon>person_add</mat-icon>
                      <span class="text-sm" *ngIf="beneficiary?.formStage !== 'OTHER_DETAILS'">Continue Onboarding</span>
                      <span class="text-sm" *ngIf="beneficiary?.formStage === 'OTHER_DETAILS'">Submit Onboarding</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex justify-center">
          <!-- <pagination-controls
                class="custom-pagination items-center mt-2"
                previousLabel="Prev"
                (pageChange)="currentPage = $event"
              ></pagination-controls> -->

          <!-- pagination -->
        </div>
      </div>

      <div role="status" id="image" *ngIf="showNoData === true">
        <img [src]="emptyTable" alt="No data Found" class="mx-auto" height="500" width="500" />
      </div>

      <div role="status" id="spinner" class="mx-auto" *ngIf="showSpinner === true">
        <svg
          aria-hidden="true"
          class="w-8 h-8 hidden md:flex text-gray-200 animate-spin dark:text-gray-600 fill-green-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>

      <!-- <div>
      <native-pagination
        [start]="start"
        [end]="end"
        [element]="element"
        [total]="total"
        (changePage)="pageChanged($event)"
      ></native-pagination>
    </div> -->

      <!-- pagination -->
    </div>

    <!-- For Incomplete Beneficiaries -->
    <div class="flex justify-between items-center mt-8">
      <button
        (click)="prevPage_()"
        [disabled]="paginationParams.page === 1"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white focus:outline-none"
      >
        <svg
          class="w-3.5 h-3.5 me-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4"
          />
        </svg>
        Previous
      </button>

      <div class="flex mx-4">
        <div *ngFor="let item of paginationArrayToShow">
          <button
            (click)="getCurrentPage_(item)"
            id="active-page"
            *ngIf="paginationParams.page === item"
            class="px-4 py-2 bg-gray-200 text-gray-600 focus:outline-none"
          >
            {{ item }}
          </button>
          <button
            (click)="getCurrentPage_(item)"
            id="inactive-page"
            *ngIf="paginationParams.page !== item"
            class="px-4 py-2 bg-white text-gray-600 focus:outline-none"
          >
            {{ item }}
          </button>
        </div>
      </div>

      <button
        (click)="nextPage_()"
        [disabled]="inCompleteBeneficiaries.length === 0"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white focus:outline-none"
      >
        Next
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- <app-consent-modal
  [showConsent]="showConsent"
  [warn]="'assets/warn.png'"
  [back]="'assets/back.png'"
  [privacy]="'assets/privacy.png'"
  (cancel)="onCancel()"
  (accept)="onAccept()">
</app-consent-modal> -->

<!-- <ng-container *ngTemplateOutlet="consentModal"></ng-container>
<ng-template #consentModal>
  <app-consent-modal
  [showConsent]="showConsent"
  [warn]="'assets/warn.png'"
  [back]="'assets/back.png'"
  [privacy]="'assets/privacy.png'"
  (cancel)="onCancel()"
  (accept)="onAccept()"
  ></app-consent-modal>
</ng-template> -->

 

  
</body>
