/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Bold Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Bold.ttf.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Light Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Light.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Medium Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Medium.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Regular.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A SemiBold Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.mat-nav-list .mat-list-item {
  stroke: #230b34;
  stroke-width: 0.3;
}

.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus {
  stroke: red
}

.mat-nav-list .mat-list-item.list-item-active svg {
  stroke: red;
}



.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}


.mat-step-icon-selected {
  background-color: #109856;
  color: #109856;
}


$success:  #35A255 !default;
$primary:   #007CBB !default;
.mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: $success !important;
  // color: $success;
  +.mat-step-label{
    color: $success !important;
  }
}

.mat-stepper-icon.ng-untouched {
  background-color: white;
  /* Your styles for the mat-stepper icon when it's not touched */
}
