<body>
    <div class="grid grid-cols-5 gap-4">
        <div class="hidden sm:block">
            <app-sidebar-helper></app-sidebar-helper>
           </div>
    
        <div class="col-span-4 h-full">
            <div class="grid grid-rows-11 max-w-md mx-auto" id="move-page-params">
                <div class="row-span-1 flex items-center" id="move-theme">
                 <img [src]="routeBack" alt="routeBack" height="25" width="25"> &nbsp; &nbsp;
                    <p class="text-xl font-bold">Face Capturing</p>
                </div>
               <div id="align-group">
                <div class="row-span-1 p-4  flex items-center">
                    <img [src]="icon1" alt="routeBack" height="15" width="15">
                   <div class="ml-2 mt-2" id="align-item">
                    Ensure your face is fully visible, with both eyes, the nose, and the mouth clearly seen.
                   </div>
                </div>
                <div class="row-span-1 p-4  flex items-center" id="align-group-row">
                    <img [src]="icon2" alt="routeBack" height="15" width="15">
                   <div class="ml-2 mt-2"  id="align-item">
                    Maintain a neutral facial expression during capture.
                   </div>
                </div>
                <div class="row-span-1 p-4  flex items-center">
                    <img [src]="icon3" alt="routeBack" height="15" width="15">
                   <div class="ml-2 mt-2"  id="align-item">
                    Ensure your face is fully visible, with both eyes, the nose, and the mouth clearly seen.
                   </div>
                </div>
                <div class="row-span-1 p-4  flex items-center">
                    <img [src]="icon4" alt="routeBack" height="15" width="15">
                   <div class="ml-2 mt-2" id="align-item">
                    Ensure your face is fully visible, with both eyes, the nose, and the mouth clearly seen.
                   </div>
                </div>
<br>

                <div class="row-span-2 grid grid-cols-2 gap-4">
                    <div class="p-4">
                        <div class="flex h-screen">
                            <div class="relative w-32 h-32 rounded-full bg-white border-4 border-dashed border-green-500 flex items-center justify-center">
                              <div class="absolute inset-0 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m-4-4h8M3 16v3a2 2 0 002 2h14a2 2 0 002-2v-3m-4-10v5m0 0a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                              </div>
                            </div>
                          </div>
                    </div>

                    <div class=" p-4"> 
                        <div class="flex h-screen">
                            <div class="relative w-32 h-32 rounded-full bg-white border-4 border-dashed border-green-500 flex items-center justify-center">
                              <div class="absolute inset-0 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m-4-4h8M3 16v3a2 2 0 002 2h14a2 2 0 002-2v-3m-4-10v5m0 0a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                              </div>
                            </div>
                          </div>
                          
                          
                          
                    </div>
                </div>
                <div class="row-span-1 bg-gray-200 p-4" id="move-btn">Placeholder Row</div>
               </div>
            </div>
        </div>
    </div>
</body>