<body>
    <div class="grid grid-cols-5 gap-4 ">
        <div class="hidden sm:block">
            <app-sidebar-helper></app-sidebar-helper>
        </div>

        <div class="grid grid-rows-11 gap-8 max-w-md max-h-screen mx-auto overflow-hidden col-span-4 ">
            <!-- Increased gap to 8 -->
            <div style="display: flex; align-items: center;">
                <img [src]="routeBack" alt="routeBack" height="25" width="25" style="margin-right: 10px;">
                <p class="text-xl font-bold" style="margin: 0;">Face Capturing</p>
            </div>
            <div class="flex items-start">
                <img [src]="icon1" alt="routeBack" class="h-5 w-5 mr-2 mt-1">
                <p class="inline">Ensure your face is fully visible, with both eyes, the nose, and the mouth clearly seen.</p>
            </div>
            <div class="flex items-start">
                <img [src]="icon2" alt="routeBack" class="h-5 w-5 mr-2 mt-1">
                <p class="inline">Maintain a neutral facial expression during capture.</p>
            </div>
            <div class="flex items-start">
                <img [src]="icon3" alt="routeBack" class="h-5 w-5 mr-2 mt-1">
                <p class="inline">Use a background that provides good contrast with the your face.</p>
            </div>
            <div class="flex items-start">
                <img [src]="icon4" alt="routeBack" class="h-5 w-5 mr-2 mt-1">
                <p class="inline">Your face must be obscured light glare or reflections. Click circle to start.</p>
            </div>
            <br>
            <div class="flex items-start mb-4 ml-3">
                <img [src]="passport" alt="routeBack" class="mr-4"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img (click)="toggleWebcam({ imageFormat: 'jpeg', imageQuality: 0.8 })" [src]="upload" alt="routeBack" class="mr-8 cursor-pointer">
                <webcam *ngIf="showWebcam" [height]="webcamHeight" [width]="webcamWidth" [trigger]="triggerObservable" [ngStyle]="{ 'height.px': screenHeight, 'width.px': screenWidth }" class="fullscreen"></webcam>

                <!-- window getUserMedia property -->
                <!-- <img (click)="toggleCamera()" [src]="upload" alt="routeBack" class="mr-8 cursor-pointer">
                <video #videoElement *ngIf="cameraActive" autoplay></video> -->
            </div>
            <br>
            <div class="row-span-1 p-4" id="align-btn">
                <button type="submit" [disabled]="disabledBtn" (click)="submit()" [ngStyle]="{ 'background-color': disabledBtn ? '#B8B7C8' : '#109856' }" class="bg-blue-500 text-white rounded-md py-2 hover:bg-blue-600 w-full">
                  Proceed
              </button>
            </div>
        </div>



    </div>
</body>
