<div class="ml-4">
  <div class="bg-[#ECFDF3] h-12 rounded-t-2xl w-11/12"></div>
  <div class="flex flex-row items-center ml-6 -mt-6">
    <div>
      <img
        src="assets/images/profilepic.svg"
        height="96"
        width="96"
        alt=""
        class="rounded-full"
      />
    </div>
    <div class="ml-3 mt-8 font-sora">
      <div class="text-2xl font-bold">
        {{beneficiary.firstname}} {{beneficiary.lastname}}
        <small class="text-sm text-optimaGray font-normal">(beneficiary)</small>
      </div>
      <div class="text-optimaGray">{{beneficiary.ssid || 'N/A' }}</div>
    </div>
  </div>

  <!-- BASIC INFORMATION  -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Basic Information
      </p>
    </div>

    <div>
      <!-- first line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-52 rounded flex justify-center items-center"
        >
          <label class="absolute text-label -top-2 left-4 bg-white text-xs"
            >First name</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.firstname || "N/A"}}</p>
        </div>
        <div
          class="form-group relative bg-grey h-[50px] w-52 rounded flex justify-center items-center"
        >
          <label class="absolute text-label -top-2 left-4 bg-white text-xs"
            >Last name</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.lastname}}</p>
        </div>
        <div
          class="form-group relative bg-grey h-[50px] w-52 rounded flex justify-center items-center"
        >
          <label class="absolute text-label -top-2 left-4 bg-white text-xs"
            >Middle name</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.middleName}}</p>
        </div>
      </div>

      <!-- Second line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute text-label -top-2 left-4 bg-white text-xs"
            >Phone Number</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.phoneNumber}}</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute text-label -top-2 left-4 bg-white text-xs"
            >Email</label
          >
          <p class="text-center text-sm font-medium pt-2">
            {{beneficiary.email}}
          </p>
        </div>
      </div>

      <!-- Third Line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 text-label left-4 bg-white text-xs"
            >SSID</label
          >
          <p class="text-sm font-medium pt-2">{{beneficiary.ssid}}</p>
        </div>
      </div>

      <!-- 4th Line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 text-label bg-white text-xs"
            >BVN</label
          >
          <p class="text-sm font-medium pt-2">{{beneficiary.bvn}}</p>
        </div>
      </div>

      <!-- 5th line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Date of Birth</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.dateOfBirth}}</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Place of Birth</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.placeOfBirth}}</p>
        </div>
      </div>

      <!-- 6th line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >State of Origin</label
          >
          <p class="text-sm font-medium pt-2">{{beneficiary.state}}</p>
        </div>
      </div>

      <!-- 7th line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >LGA of Origin
          </label>
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.lga}}</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Hometown</label
          >
          <p class="text-center text-sm font-medium pt-2">Anike</p>
        </div>
      </div>
      <!-- 8th Line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >House Address</label
          >
          <p class="text-sm font-medium pt-2">
            {{beneficiary.address}}
          </p>
        </div>
      </div>
      <!-- 9th Line-->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Gender</label
          >
          <p class="text-sm font-medium pt-2">{{beneficiary.gender || "N/A"}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- RESIDENTIAL INFORMATION -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Residential Information
      </p>
    </div>

    <div>
      <!-- first line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >State</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.state}}</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >LGA</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.lga}}</p>
        </div>
      </div>

      <!-- 2nd Line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >House Address</label
          >
          <p class="text-sm font-medium pt-2">
            {{beneficiary.address}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- MARITAL INFORMATION -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Marital Information
      </p>
    </div>

    <div>
      <!-- first line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Marital Status</label
          >
          <p class="text-center text-sm font-medium pt-2">{{beneficiary.maritalStatus}}</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Number of Spouse(s)</label
          >
          <p class="text-center text-sm font-medium pt-2">
            {{beneficiary.spouseList.length}}
          </p>
        </div>
      </div>

      <!-- 2nd Line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Number of Child(ren)</label
          >
          <p class="text-center text-sm font-medium pt-2">
            {{beneficiary.childList.length}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- EDUCATION INFORMATION -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Educational Information
      </p>
    </div>

    <div>
      <!-- 1st Line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Highest Level of Education</label
          >
          <p class="text-center text-sm font-medium pt-2">
            {{beneficiary.education}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- HEALTH INFORMATION -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Other Health Information
      </p>
    </div>

    <div>
      <!-- 1st Line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Current Health Condition</label
          >
          <p class="text-center text-sm font-medium pt-2">
            {{beneficiary.health}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- FINANCIAL INFORMATION -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Financial Information
      </p>
    </div>

    <div>
      <!-- first line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Marital Status</label
          >
          <p class="text-center text-sm font-medium pt-2">Single</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Number of Spouse(s)</label
          >
          <p class="text-center text-sm font-medium pt-2">7</p>
        </div>
      </div>

      <!-- 2nd Line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Number of Child(ren)</label
          >
          <p class="text-center text-sm font-medium pt-2">4</p>
        </div>
      </div>
    </div>
  </div>

  <!-- NEXT OF KIN -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">Next of Kin</p>
    </div>

    <div>
      <!-- first line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >First Name</label
          >
          <p class="text-center text-sm font-medium pt-2">Aliyu</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Last Name</label
          >
          <p class="text-center text-sm font-medium pt-2">Abdul</p>
        </div>
      </div>

      <!-- 2nd Line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >NIN</label
          >
          <p class="text-sm font-medium pt-2">222274757676</p>
        </div>
      </div>
      <!-- 3rd line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Phone Number</label
          >
          <p class="text-center text-sm font-medium pt-2">081653546984</p>
        </div>

        <div
          class="form-group relative bg-grey h-[50px] w-5/12 rounded px-3 flex items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Email</label
          >
          <p class="text-center text-sm font-medium pt-2">
            optimus@hotmail.com
          </p>
        </div>
      </div>

      <!-- 4th Line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >SSID</label
          >
          <p class="text-sm font-medium pt-2">5554764565756</p>
        </div>
      </div>
      <!-- 5th Line -->
      <div class="flex justify-between mt-10">
        <div
          class="form-group relative bg-grey h-[50px] w-full rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Address</label
          >
          <p class="text-sm font-medium pt-2">
            No 31,A Colorado Street, Gbaga, Illorin
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- OTHER INFORMATION -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Other Information
      </p>
    </div>

    <div>
      <!-- 1st Line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Beneficiaries Political view</label
          >
          <p class="text-center text-sm font-medium pt-2">Active</p>
        </div>
      </div>
    </div>
  </div>

  <!-- SECURITY INFORMATION -->
  <div class="w-[702px] mt-20 ml-8">
    <div class="border-b">
      <p class="font-semibold text-2xl pl-6 text-optimaGray">
        Security Information
      </p>
    </div>

    <div>
      <!-- 1st Line -->
      <div class="flex justify-between mt-10">
        <div
          class="relative bg-grey h-[50px] w-5/12 rounded flex px-3 items-center"
        >
          <label class="absolute -top-2 left-4 bg-white text-xs text-label"
            >Has the beneficiary been arrested before</label
          >
          <p class="text-center text-sm font-medium pt-2">Yes</p>
        </div>
      </div>
    </div>
  </div>
</div>
