<body class=" p-4">
    <div class="grid grid-rows-11 gap-4 max-w-md mx-auto">
        <div class="row-span-1">
            <p class="text-xl font-bold">Next of Kin</p>
            <p>Almost there enter your next of kin information.</p>
        </div>
       
        <div class="row-span-1">
            <form class="max-w-sm">
                <div class="row-span-2 grid grid-cols-2 gap-4">
                    <div>
                        <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Name*">
                    </div>
                    <div>
                        <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Last Name*">
                    </div>
                </div>
            </form>
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="NIN (Next of Kin)*">
            </form>
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <div class="row-span-2 grid grid-cols-2 gap-4">
                    <div>
                        <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Phone Number*">
                    </div>
                    <div>
                        <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email Address (Optional)">
                    </div>
                </div>
            </form>
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="SSID (Optional)">
            </form>
        </div>
        <div class="row-span-1">
            <form  class="max-w-sm" >
                <div class="flex items-center">
                    <input checked id="currently_in_school" type="checkbox" value="" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="currently_in_school" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I am currently in school</label>
                </div>
                <hr class="mt-2">
            </form>
        </div>
        <div class="row-span-1" >
            <form class="max-w-sm">
                <select id="funding_options" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of options; let id=index">
                        <span>{{ option }}</span>
                    </option>
                </select>
            </form>
        </div>
        <div class="row-span-1" >
            <form class="max-w-sm">
                <select id="funding_options" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer">
                    <option *ngFor="let option of option2; let id=index">
                        <span>{{ option }}</span>
                    </option>
                </select>
            </form>
        </div>
        <div class="row-span-1">
            <form class="max-w-sm">
                <input type="text" id="text-input" aria-describedby="helper-text-explanation" class="w-full  rounded-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="House Address">
            </form>
        </div>
        <div class="row-span-1 w-full mt-2">
            <button (click)="submit()" id="btn" type="submit" [disabled]="null" [ngStyle]="{ 'background-color': null ? '#B8B7C8' : '#109856' }"
                class="h-12 w-[400px] px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                Proceed
            </button>
        </div>

    </div>
</body>
