<body class=" p-4">
    <div class="grid grid-rows-11 gap-4 max-w-md mx-auto">
        <div class="row-span-1">
            <p class="text-xl font-bold">Next of Kin</p>
            <p>Almost there enter your next of kin information</p>
        </div>
        <div class="row-span-2 grid grid-cols-2 gap-4">
            <div class="bg-gray-200 p-4">Column 1</div>
            <div class="bg-gray-200 p-4">Column 2</div>
        </div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>

        <div class="row-span-2 grid grid-cols-2 gap-4">
            <div class="bg-gray-200 p-4">Column 1</div>
            <div class="bg-gray-200 p-4">Column 2</div>
        </div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-2 grid grid-cols-2 gap-4">
            <div class="bg-gray-200 p-4">Column 1</div>
            <div class="bg-gray-200 p-4">Column 2</div>
        </div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>

        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
        <div class="row-span-1 bg-gray-200 p-4">Placeholder Row</div>
    </div>
</body>
